@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:rgb(17, 17, 17)
}
/* main, header{
    background: rgba(30, 30, 30, .04 );
} */
/* shared */

.container{
    max-width: 1140px;
    margin:0 auto;
}
.display-flex{
    display: flex;
}

.bg-image{
    background-image: url(../assets/bg.png) ;
}
.section-heading{
    text-align: center;
    padding-top: 3rem;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 3.8rem;
    margin-bottom: 3rem;
}
.layer{
    background: rgba(30, 30, 30, .04 );
}
section{
    
}

.reg-p{
    color: rgb(102, 102, 102);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.85rem;
}
.banner-btn:hover{
    background-color: darkslategrey;
    cursor: pointer;
}



/* header section */
.header{
    background: rgb(247, 247, 247);
    border-bottom: 1px dashed rgba(78, 70, 70, .2);
}
.navbar{
    padding-top: .8rem;
    justify-content:space-between ;
    gap: 20px;   
    align-items: center; 
    padding: 20px 0px 20px 0px;
}
.logo{
    align-items:center ;
}
.logo span{
    color: rgb(17, 17, 17);
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
}
.nav-list{
    justify-content: space-between;
    gap: 2rem;
}
.nav-list li{
    list-style: none;
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.92rem;
}

.nav-list li:hover{
    color: rgb(12, 61, 83);
    cursor: pointer;
}
.item-1{
    color: rgb(254, 163, 1);
}
.item-2{
    color: rgb(1, 172, 253);
}
/* .item-2:hover{
    color: rgb(12, 61, 83);
    cursor: pointer; */
}
.item-3{
    color: rgb(5, 212, 223);
}
/* .item-3:hover{
    color: rgb(18, 115, 121);
    cursor: pointer; */

.item-4{
    color: rgb(93, 88, 239);
}

.contact-btn{
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.92rem;
    padding: .4rem 2rem;
    color: rgb(255, 255, 255);
    border-radius: 12px;
    border: none;
    background: rgb(254, 163, 1);
}

.contact-btn:hover{
    background: rgb(114, 75, 7);
    cursor: pointer;
}
.banner{
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}
.banner-heading{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 3.8rem;
    margin-bottom: 1rem;
}
.banner-img{
    width: 100%;
}

.banner-description{
    color: rgb(17, 17, 17);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.4rem;
    margin-bottom: 1rem;
}
.banner-btn{
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.92rem;
    padding: .4rem 2rem;
    color: rgb(255, 255, 255);
    border-radius: 12px;
    border: none;
   
    background: rgb(17, 17, 17);
}

.hideOnPc{
    display:none;
}


/* curriculum section */
.layer{
    border-bottom: 1px dashed rgba(78, 70, 70, .2);
}
.st-card{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 2rem;
    margin-top: 4rem;
    margin-bottom: 2.5rem;
    
}

.card{
    padding: 2rem;
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
    text-align: center;
}
.card-title{
    color: rgb(32, 32, 32);
    font-size: 1.35rem;
    font-weight: 700;
    line-height: 1.8rem;
}
.card img, h3, p{
    margin-bottom: 1rem;
}

.card-btn{
    margin-top: 2rem;
    font-size: 1rem;
}
/* .card-btn:hover{
    cursor: pointer;
    /* background-color: beige; */
   



#card-1{
    border: 0.94px solid rgb(222, 245, 255);
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
#card-2{
    border: 0.94px solid rgb(255, 244, 220);
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
/* #card-2, #card-3 .card-title{
    padding-top: .6rem;
} */

#card-2 img{
    margin-bottom: 1.7rem;
}
#card-3 img{
    margin-bottom: 1.7rem;
}
#card-3{
    border: 0.94px solid rgb(242, 232, 255);
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.next-pre{
    text-align: center;
    font-size: 3rem;
    color: white;
    padding-bottom: 3rem;
    
}
.left, .right{
    background-color: rgb(254, 163, 1);
    padding:.2rem 1.2rem;
    border-radius: 50%;
    cursor: pointer;
}
.next-pre span:hover{
    background-color: rgb(138, 92, 12);
}


/* stories */
.our-stories{
    background: url(image),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
}
.stories-container{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 1rem;
    margin-bottom: 4rem;
}
.stories-content{
    /* width: 40%; */
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: .1rem;
    margin-bottom: .6rem;
}
.stories-content img{
    width: 100%;
}
.stories-content img, .stories-grid img{
    border-radius: 10px;
}

.stories-content div, .stories-content h2, .stories-content p{
    padding: 1rem 2rem;
}

/* .st-content{
    padding: 2rem;
} */
.stories-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
}
.stories-grid img{
    width: 100%;
}

.grid-card{
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin:0 .3rem;
    margin-bottom: .6rem;
    
}

.grid-card div, .grid-card h2{
    padding: .5rem 1rem;
}

.btn-btn{
    border-radius: 47.93px;
    color: rgb(255, 255, 255);
    font-size:1rem;
    font-weight: 500;
    line-height: 1.85rem;
    padding: .6rem .8rem;
    border: none;
    /* margin-top: -100px; */
}
.st-btn{
    margin-top: -40px;
}
.t-00{
    background: rgb(60, 216, 232);
    margin-top: -5px;
}
.t-01{
    background: rgb(149, 178, 38);
   
}
.t-02{
    background: rgb(93, 88, 240);
   
}

.stories-view{
    margin: 2rem auto;
    text-align: center;
}

marquee{
    font-size: 2rem;
    font-weight: 700;
    background-color: blanchedalmond;
}


/* footer */
footer{
    background: rgb(1, 172, 253);
    color:white;
}

.footer-divs{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
     padding: 4rem 0;
}

.edu{
    width: 40%;
    padding: 2rem;
}
.edu-p{
    padding-right: 2rem;
    text-align: justify;
}
.footer-last{
    align-items: center;
    margin-bottom: 1rem;
}
.footer-logo{
    margin-top: -.5rem;
}
.about{
   width: 33%;
}

.about, .social{
    padding-top: 2rem;
}

.about ul li{
    list-style: none;
    margin-bottom: 1rem;
}
.about ul li:hover{
    cursor: pointer;
}

.social-logo{
 display: flex;
 gap: .5rem;
}
.social-logo img:hover{
    cursor: pointer;
}

/* responsive */

@media screen and (min-width: 576px) {
    .showOnMobile  {
        display: none;
         }
}
@media screen and (min-width:576px) and (max-width:992px){
    .banner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo span{
        display: none;
    }
    .contact-btn{
        display: none;
    }
    .nav-list{
        margin-right: 2rem;
        
    }
    .nav-list li{
        gap: 1rem;
    }
    .banner-content {
        text-align: center;
        padding-bottom: 1rem;
        padding: .5rem;
    }
    .banner-heading{
        font-size:2.5rem ;
    }
    .banner-img{
        width: 100%;
    }
    .st-card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }

    .stories-container{
        flex-direction: column;
    }
    .stories-content{
        width: 60%;
        margin: 0 auto;
    }
    
    .footer-divs{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    
    }
    .social{
        margin-left: 3rem;
    }
    .edu{
        width: 100%;
    }



    

}





@media screen and (max-width:576px){
    .header{
        border-bottom: none;
    }
    .navbar{        
        border-bottom: 0.5px solid rgb(254, 163, 1);
    }
    .banner {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        
        
    }
    .logo {
        align-items: center;
        margin-left: 2rem;
    }
    .hideOnMobile{
        display: none;
    }
    .showOnMobile{
        display: visible;
        font-size: 2rem;
        margin-right: 2rem;
    }
    .banner-content {
        text-align: center;
        padding-bottom: 1rem;
        padding: .5rem;
    }
    .banner-heading{
        font-size:2.5rem ;
    }
    .banner-img{
        width: 100%;
    }
    .st-card{
        flex-direction: column;
        padding: .8rem 1rem;
        width: 80%;
        margin: 0 auto;
    }
    .card{
        margin-bottom: 1.5rem;
    }
    .next-pre{
        margin-top: 2rem;
    }
    .section-heading{
        font-size: 2.2rem;
    }

    .stories-grid img{
        width: 100%;
    }
    .btn-btn{
        padding: .3rem .6rem;
    }
    .footer-divs{
        flex-direction:column;

    }
    .edu, .about, .social{
        padding-left: 3rem;
        width: 80%;
    }
    .footer-last{
        padding-left: 0;
    }
    .footer-last .logo{
        padding-left: 0;
    }

}


