@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:rgb(17, 17, 17)
}

/* shared */

.container{
    max-width: 1140px;
    margin:0 auto;
}
.display-flex{
    display: flex;
}







/* header section */
.header{
    background: rgb(247, 247, 247);
    border-bottom: 1px dashed rgb(177, 164, 164);
}
.navbar{
    padding-top: .8rem;
    justify-content:space-between ;
    gap: 20px;   
    align-items: center; 
    padding: 20px 0px 20px 0px;
}
.logo{
    align-items:center ;
}
.logo span{
    color: rgb(17, 17, 17);
    font-size: 2rem;
    font-weight: 700;
    line-height: 2rem;
}
.nav-list{
    justify-content: space-between;
    gap: 2rem;
}
.nav-list li{
    list-style: none;
    display: inline-block;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.92rem;
}
.item-1{
    color: rgb(254, 163, 1);
}
.item-2{
    color: rgb(1, 172, 253);
}
.item-3{
    color: rgb(5, 212, 223);
}
.item-4{
    color: rgb(93, 88, 239);
}

.contact-btn{
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.92rem;
    padding: .4rem 2rem;
    color: rgb(255, 255, 255);
    border-radius: 12px;
    border: none;
    background: rgb(254, 163, 1);


}
.banner{
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
}
.banner-heading{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 3.8rem;
    margin-bottom: 1rem;
}

.banner-description{
    color: rgb(17, 17, 17);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.4rem;
    margin-bottom: 1rem;
}
.banner-btn{
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.92rem;
    padding: .4rem 2rem;
    color: rgb(255, 255, 255);
    border-radius: 12px;
    border: none;
   
    background: rgb(17, 17, 17);
}

.hideOnPc{
    display:none;
}














/* responsive */

@media screen and (min-width: 576px) {
    .showOnMobile  {
        display: none;
         }
}
@media screen and (min-width:576px) and (max-width:992px){
    .banner {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo span{
        display: none;
    }
    .contact-btn{
        display: none;
    }
    .nav-list{
        margin-right: 2rem;
        
    }
    .nav-list li{
        gap: 1rem;
    }
    .banner-content {
        text-align: center;
        padding-bottom: 1rem;
        padding: .5rem;
    }
    .banner-heading{
        font-size:2.5rem ;
    }
    .banner-img{
        width: 100%;
    }

}
@media screen and (max-width:576px){
    .header{
        border-bottom: none;
    }
    .navbar{        
        border-bottom: 0.5px solid rgb(254, 163, 1);
    }
    .banner {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        
        
    }
    .logo {
        align-items: center;
        margin-left: 2rem;
    }
    .hideOnMobile{
        display: none;
    }
    .showOnMobile{
        display: visible;
        font-size: 2rem;
        margin-right: 2rem;
    }
    .banner-content {
        text-align: center;
        padding-bottom: 1rem;
        padding: .5rem;
    }
    .banner-heading{
        font-size:2.5rem ;
    }
    .banner-img{
        width: 100%;
    }
    

}


